/* =================================
	FONTS
================================= */
@font-face {
    font-family: 'aw_conqueror';
    src: url('../fonts/awconquerorslab-light-webfont.eot');
    src: url('../fonts/awconquerorslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/awconquerorslab-light-webfont.woff') format('woff'),
         url('../fonts/awconquerorslab-light-webfont.ttf') format('truetype'),
         url('../fonts/awconquerorslab-light-webfont.svg#aw_conqueror_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-icon';
    src:url('../fonts/font-icon.eot');
    src:url('../fonts/font-icon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-icon.woff') format('woff'),
        url('../fonts/font-icon.ttf') format('truetype'),
        url('../fonts/font-icon.svg#font-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'font-icon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-vimeo, .icon-twitter, .icon-instagram, .icon-behance, .icon-linkedin {
    font-family: 'font-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
    content: "\e000";
}
.icon-vimeo:before {
    content: "\e005";
}
.icon-twitter:before {
    content: "\e003";
}
.icon-instagram:before {
    content: "\e001";
}
.icon-behance:before {
    content: "\e004";
}
.icon-linkedin:before {
    content: "\e002";
}
