/* =================================
	LAYOUT
================================= */
body{
    background: url(../img/background-pattern.jpg);
    color: white;
    font-size: 0.625em;
    font-family: $brandon_r-font;
    position:relative;
}
.pageBlock{
    width: 1028px;
    margin: 0 auto;
    position:  relative;
}
.logoBlock{
    text-align: center;
    padding: 3em 0;
}
.navBorder{
    margin: 3em 0 3em 0;
    padding: 1em 0;    
    border: 1px dashed $border-dashed-color;
    border-left: none;
    border-right: none;
}
.col-container{
    @include clearfix;
}
.col-third{
    width: 32%;
    margin-left:2%;
    float: left;
    &:first-child{
        margin-left:0%;
    }
}
.col-bordered{
    border: 1px solid $lightGray;
    border-top: none;
    border-bottom: none;
    @include boxSizingBorderBox;
}
.ruler50{
    @include boxSizingBorderBox;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid red;
    opacity: 0.2;
}
