/* =================================
	MODULES
================================= */
.mainNav{
    font-family: $conqueror-font;
    margin: 0;
    padding: 0;
}
.mainNav--item{
    font-size: 1.2em;
    display: inline-block;
    border-left: 1px dashed $border-dashed-color;
    &:first-child{
        border-left: none;
    }
}
.mainNav--link{
    padding: 1.25em 1.05em;
    display: block;
    min-width: 7.2em;
    line-height: 0.8em;
    @include boxSizingBorderBox;
    text-align: center;
    &:hover, &:active, &.active{
        background: url(../img/mainNav-pattern.png);
    }
}

.socialNav{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    top:1.8em;
}
.socialNav--item{
    display: inline-block;
    font-size: 1em;
    padding: 0 1.05em;
    border-left: 1px dashed $border-dashed-color;
    &:first-child{
        border-left: none;
    }
}
.socialNav--link{
    @include border-radius(100px);
    background-color: $circle-bg-grey;
    display: block;
    width: 2.4em;
    height: 2.4em;
    text-align: center;
    &.facebook:hover,&.facebook:active{background-color: #04427b;}
    &.instagram:hover,&.instagram:active{background-color: #2a94be;}
    &.linkedin:hover,&.linkedin:active{background-color: #21769b;}
    &.twitter:hover,&.twitter:active{background-color: #36b9e7;}
    &.behance:hover,&.behance:active{background-color: #055d85;}
    &.vimeo:hover,&.vimeo:active{background-color: #67cef7;}
}
.socialNav--icon{
    font-size: 1.6em;
    position: relative;
    top: 0.1em;
}

.logoPulse{
    width: 31em;
    height: auto;
    text-align: center;
}
.logoFollow{
    position: relative;
    top:-3em;
}
.losangeImg{
    width: 22em;
}

.everytime{
    position: relative;
    &:before{
        content: attr(data-before);
        position: absolute;
        left: 0em;
        top: -0.8em;
        color: $gray;
    }
    &:after{
        content: attr(data-after);
        position: absolute;
        left: 0em;
        top: 1.3em;
        color: $gray;
    }   
}
.separateur-line{
    @include boxSizingBorderBox;
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
    margin: 1em 0;
    border-right: 1px solid white;
}
.height-small{
    height:2em;
}
.height-big{
    height:3em;
}
.has-losange{
    background: url(../img/losange-contour.svg) no-repeat 50% 50%;
    padding: 2em 0em 2em 0em;
    width: 5em;
    display: inline-block;
    margin-top: 1em;
}
.small-losange{
    font-size: 0.5em;
    margin: 0 1em;
    top: -4.5em;
    position: relative;
}

.no-margin{
    margin: 0;
}
.no-button{
    background: none;
    border:none;
    padding: 0;
}
.f-right{
    float: right;
}

// TOOLTIP
.has-tooltip{
//    position:relative;
}
.tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:1em;
    text-transform:uppercase;
    padding: 0px 5px;
    background:$lightGray;   
}
.tooltip:before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 6px 6px;
    top:-6px;
    right:8px;
    border-color: transparent transparent $lightGray transparent;
}

.tooltip .tipHeader {
    // height:8px;
}

/* IE hack */
* html .tooltip .tipHeader {margin-bottom:-6px;}

.tooltip .tipBody {
    // background-color:#000;
    // padding:5px 5px 5px 15px;
}

.tooltip .tipFooter {
    // height:8px;
}

// TEXT
.text-align-left{
    text-align: left;
}

.text-smaller{
    font-size: 0.8em;
}
.text-bigger{
    font-size: 1.35em;
}
.text-heading1{
    font-size: 3em;
}
.text-heading2{
    font-size: 2em;
}
.text-heading3{
    font-size: 1.8em;
}

.line-height1{
    line-height:1em; 
} 

.text-light{
    font-family: $brandon_t-font;
}
.text-bold{
    font-family: $brandon_b-font;
}


.text-uppercase{
    text-transform: uppercase;
}

.text-lighterGray{
    color: $lighterGray;
}

.text-lightGray{
    color: $lightGray;
}
.text-gray{
    color:$gray;
}
.text-darkGray{
    color:$darkGray;
}
.text-white{
    color:white;
}
