/* =================================
	VARIABLES
================================= */
$conqueror-font : 'aw_conqueror', Georgia, Times New Roman, serif;
$brandon_t-font : 'brandon_t', Helvetica, Arial, sans-serif;
$brandon_r-font : 'brandon_r', Helvetica, Arial, sans-serif;
$brandon_b-font : 'brandon_b', Helvetica, Arial, sans-serif;

$border-dashed-color: #414042;
$circle-bg-grey:#303030;

$lightGray:#5e5e5e;
$gray:#3a3b3b;
