/* =================================
	VARIABLES
================================= */
$conqueror-font : 'aw_conqueror', Georgia, Times New Roman, serif;

$border-dashed-color: #414042;
$circle-bg-grey:#303030;
